<?xml version="1.0" ?>
<phpunit bootstrap="./vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="json-rpc tests">
            <directory suffix="Test.php">tests</directory>
        </testsuite>
    </testsuites>
    <logging>
        <log charset="UTF-8" target="coverage" type="coverage-html"/>
    </logging>
    <filter>
        <blacklist>
            <directory>coverage</directory>
            <directory>vendor</directory>
            <directory>tests</directory>
        </blacklist>
    </filter>
</phpunit>
